.cal-body-event{
    border:0px solid rgb(220, 219, 250);
    background-color: rgb(220, 219, 250);
    color:rgb(220, 219, 250);
}
.cal-body-display{
    border:0px solid rgb(220, 219, 250);
    background-color: rgb(220, 219, 250);
    color:rgb(220, 219, 250);
}